<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Diário de Bordo</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css">
</head>
<body>
    <form id="diario-form" method="POST" action="/diario">
        <div class="form-floating">
            <textarea name="texto" class="form-control" placeholder="Escreva o seu diario de bordo" id="texto" style="height: 100px"></textarea>
            <label for="floatingTextarea2">Escreva o seu diario de bordo</label>
        </div>
        <br>
        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
            <label class="form-check-label" for="flexSwitchCheckDefault">Gerar com microfone</label>
        </div>
        <br>
        <button class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" type="submit" name="action" value="audio">Criar áudio</button>
        
        <div id="audio-container">
            {% if audio_path %}
                <h2>Seu áudio:</h2>
                <audio controls>
                    <source src="{{ audio_path }}" type="audio/mpeg">
                    Seu navegador não suporta o elemento de áudio.
                </audio>
            {% endif %}
        </div>
        
        <button class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" type="submit" name="action" value="diario_banco">Enviar</button>
    </form>

    <script>
        $(document).ready(function() {
            $('#diario-form').on('submit', function(event) {
                event.preventDefault(); // Impede o envio padrão do formulário

                $.ajax({
                    type: 'POST',
                    url: '/diario',
                    data: $(this).serialize(),
                    success: function(response) {
                        // Atualiza a div com o novo áudio
                        $('#audio-container').html(`
                            <h2>Seu áudio:</h2>
                            <audio controls>
                                <source src="${response.audio_path}" type="audio/mpeg">
                                Seu navegador não suporta o elemento de áudio.
                            </audio>
                        `);
                    },
                    error: function(xhr, status, error) {
                        console.error("Erro ao gerar áudio: ", error);
                    }
                });
            });
        });
    </script>
</body>
</html>
