<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" />
    <title>Login</title>
</head>
<body>
    <div class="login-container">
        <img src="https://static.portaldaindustria.com.br/media/uploads/logotipos/logo-senai.png" alt="Logo da Empresa" width="200" height="100">
        <h2>Entrar</h2>
        <form action="login.php" method="post">
            <input type="text" name="ra" placeholder="RA" required>
            <input type="submit" value="enviar">
        </form>
        <a href="#">Esqueceu seu RA?</a>
    </div>
</body>
</html>
